#PlayingTable {
    display: grid;
    grid-template-areas: "DealerSection" "PlayerSection";
    height: calc(100vh - 4rem);
    width: var(--table-width);
    margin: 1rem 1rem 2rem;
}
@supports (height: 100dvh) {
    #PlayingTable {
        height: calc(100dvh - 3rem)
    }
}

#WinText,
#LoseText,
#PushText,
#SurrenderText,
.placeholder {
    text-align: center;
    height: 64px;
    line-height: 64px;
    padding: 1rem;
    font-size: 64px;
}

#WinText {
    background-color: rgba(36, 102, 70, 0.7);
}
#LoseText,
#SurrenderText {
    background-color: rgba(127, 1, 1, 0.7);
}
#PushText {
    background-color: rgba(76, 76, 76, 0.7);
}

#Overlay {
    position: fixed;
    top: 25%;
    height: 250px;
    width: var(--table-width);
    display: flex;
    flex-direction: column;
}

#DealerHeader, #HandHistoryButton {
    border: none;
    width: 100%;
    padding: 0;
}
#DealerHeader {
    div {
        padding: .25rem 0;
    }
    div:not(.score) {
        border: solid 1px var(--text-color);
        border-bottom: none;
        font-size: 20px;
    }
}
#HandHistoryButton {
    div.score {
        border-bottom: none;
    }
    #Results > #Correct {
        border-right: none;
    }
}

#PlayerSection {
    align-content: end;
}

#HandHistoryButton {
    border: none;
}

#Results {
    display: flex;
    text-align: center;

    #Correct, #Record {
        width: 50%;
        border: solid 1px var(--text-color);
        color: var(--text-color);
        font-size: 16px;
    }
}
.incorrect {
    background-color: #510000;
}

.hand {
    display: none;

    &[data-active="1"] {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        min-height: 108px;
    }
}

.score {
    border: solid 1px var(--text-color);
    color: var(--text-color);
    font-size: 32px;
    text-align: center;
}

#ButtonsParent {
    height: 100px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1rem;

    #DealButtonSection,
    #HandNavigationSection,
    #ShowResultsSection {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        column-gap: 1rem;

        button {
            width: 50%;
            margin-top: 1rem;
        }
    }

    #AllTurnsButtons {
        width: 100%;
        display: grid;
        grid-template-areas: "Hit Stand";
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
    }
    #FirstTurnOnlyButtons {
        width: 100%;
        display: grid;
        grid-template-areas: "Split Double Surrender";
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 1rem;
    }

    button {
        height: 3rem;
        background-color: var(--background-color);
        border: solid 1px var(--text-color);
        font-size: 16px;
        line-height: 0;
    }
}
