body {
    --text-color: #777;
    --table-width: calc(min(calc(100vw - 2px), 500px));
    --background-color: #0b1e01;

    background-color: var(--background-color);
    margin: 0;
    display: flex;
    justify-content: center;
}

h1, h2 {
    color: var(--text-color);
    font-size: 64px;
    text-align: center;
}
h1 {
    font-size: 64px;
}
h2 {
    font-size: 36px;
}

#PlayingTable {
    display: grid;
    grid-template-areas: "DealerSection" "PlayerSection";
    height: calc(100vh - 4rem);
    width: var(--table-width);
    margin: 2rem 1rem;
}
@supports (height: calc(100dvh - 4rem)) {
    #PlayingTable {
        height: calc(100dvh - 4rem)
    }
}

#PlayerSection {
    align-content: end;
}

#Results {
    display: flex;
    text-align: center;

    #Correct, #Record {
        width: 50%;
        border: solid 1px var(--text-color);
        color: var(--text-color);
        font-size: 24px;
    }
}

.card-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 108px;
}
.score {
    border: solid 1px var(--text-color);
    color: var(--text-color);
    font-size: 48px;
    text-align: center;
}
.playing-card {
    --text-color: black;
    --background-color: #777;
    cursor: default;
    background-color: var(--background-color);
    border: solid 1px var(--text-color);
    height: 100px;
    line-height: 50px;
    text-align: center;
    font-size: 48px;
    width: 60px;
    margin: 3px;
    color: var(--text-color);
}
.spades {
    color: black;
    &::after {
        content: "\2660";
    }
}
.clubs {
    color: black;
    &::after {
        content: "\2663";
    }
}
.hearts {
    color: darkred;
    &::after {
        content: "\2665";
    }
}
.diamonds {
    color: darkred;
    &::after {
        content: "\2666";
    }
}

#ButtonsParent {
    height: 100px;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
        height: 3rem;
        margin: 0.25rem;
        background-color: var(--background-color);
        color: var(--text-color);
        border: solid 1px var(--text-color);
        font-size: 16px;
        line-height: 0;
        width: 25%;

        &:hover {
            cursor: pointer;
            background-color: var(--text-color);
            color: var(--background-color);
        }
    }
}

#PlayingCardDeck {
    display: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
    position: relative;
}

#PlayingCardDeck > .playing-card,
.playing-card.flipped {
    background-color: var(--text-color);
    color: var(--text-color);
    border: solid 1px var(--background-color);
}

.collapse {
    display: none;
}
.hidden {
    visibility: hidden;
}

#WinText,
#LoseText,
#PushText,
.placeholder {
    text-align: center;
    height: 64px;
    line-height: 64px;
    padding: 1rem;
    font-size: 64px;
    color: var(--text-color);
}

#WinText {
    background-color: rgba(36, 102, 70, 0.7);
}
#LoseText {
    background-color: rgba(127, 1, 1, 0.7);
}
#PushText {
    background-color: rgba(76, 76, 76, 0.7);
}

#Overlay {
    position: fixed;
    top: 15%;
    height: 250px;
    width: var(--table-width);
    display: flex;
    flex-direction: column;
}
