body {
    --text-color: #969696;
    --table-width: calc(min(calc(100vw - 2px), 500px));
    --background-color: #0b1e01;

    background-color: var(--background-color);
    margin: 0;
    display: flex;
    justify-content: center;
    color: var(--text-color);
}

h1, h2 {
    font-size: 64px;
    text-align: center;
}
h2 {
    font-size: 36px;
}

button {
    color: var(--text-color);
    background-color: var(--background-color);
    border: solid 1px var(--text-color);

    &:hover {
        cursor: pointer;
    }
}

.collapse {
    display: none;
}
.hidden {
    visibility: hidden;
}
